* {
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #31357e;
}
body {
  height: 100vh;
  font-family: "Roboto";
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 187px;
  padding-top: 32px;
  align-items: center;
}
.nav-items {
  display: flex;
}
img[alt="purple-bg"] {
  width: 672px;
  height: 675px;
  position: absolute;
  top: 0;
  right: 0px;
  z-index: -5;
}
img[alt="intro-img"] {
  height: 680px;
  width: 586px;
  position: relative;
  top: 30px;
  right: 92px;
  z-index: -3;
}
img[alt="logo"] {
  width: 97px;
}

.imgs-div {
  position: absolute;
  top: 0;
  right: 0;
}

.nav-item {
  padding: 0 29px;
  color: var(--primary-color);
}

.left-section {
  height: 80vh;
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 50%;
  gap: 63px;
  padding-left: 187px;
}

.left-section h1 {
  font-size: 100px;
  color: #3e4794;
}
.left-section h4 {
  font-size: 17px;
  color: #80829e;
  padding-right: 423px;
  font-weight: 100;
  line-height: 30px;
}

.learn-more-btn {
  background: #965cf2;
  background: linear-gradient(to right, #965cf2 0%, #ff8adc 100%);
  width: 27%;
  border: none;
  padding: 12px 0px;
  border-radius: 37px;
  font-size: 17px;
  color: #ffffff;
}

.signin-btn {
  background: #965cf2;
  background: linear-gradient(to right, #965cf2 0%, #ff8adc 100%);
  border: none;
  padding: 8px 21px;
  border-radius: 37px;
  color: #ffffff;
  font-size: 12px;
}

@media screen and (max-width: 960px) {
  .nav-items {
    display: none;
  }

  .intro-section {
    display: flex;
    flex-direction: column;
  }
  img[alt="purple-bg"] {
    width: 528px;
    height: 520px;
    position: absolute;
    top: 0;
    right: 0px;
    z-index: -5;
  }
  img[alt="intro-img"] {
    height: 517px;
    width: 309px;
    position: relative;
    z-index: -3;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 98px;
    gap: 20px;
  }

  .left-section h1 {
    font-size: 35px;
    color: #3e4794;
  }

  .left-section h4 {
    font-size: 14px;
    color: #80829e;
    font-weight: 100;
    line-height: 23px;
    padding-right: 64px;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 95px;
    padding-top: 32px;
    align-items: center;
  }

  .learn-more-btn {
    background: #965cf2;
    background: linear-gradient(to right, #965cf2 0%, #ff8adc 100%);
    width: 27%;
    border: none;
    padding: 12px 3px;
    border-radius: 37px;
    font-size: 13px;
    color: #ffffff;
  }
}

@media screen and (max-width: 430px) {
  img[alt="vector-img"] {
    display: none;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 40px;
    gap: 20px;
  }
  img[alt="purple-bg"] {
    display: none;
  }
  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-left: 40px;
    gap: 20px;
  }
  .imgs-div {
    position: relative;
  }

  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 39px;
    padding-top: 32px;
    align-items: center;
  }
  img[alt="vector-dot"] {
    display: none;
  }
  img[alt="intro-img"] {
    height: 366px;
    width: 408px;
    position: relative;
    z-index: -3;
    left: 2px;
  }
}
